<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
</head>

<body>
	<nav class="sidebar sidebar-open" th:fragment="sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/"> <i class="oi oi-home"></i> <span>Home</span>
				</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Departamentos</span></li>
			<li class="nav-item"><a class="nav-link" href="/department/register"> <i class="oi oi-plus"></i>
					<span>Cadastrar</span>
				</a></li>
			<li class="nav-item"><a class="nav-link" href="/department/list"> <i class="oi oi-spreadsheet"></i>
					<span>Listar </span>
				</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Cargos</span></li>
			<li class="nav-item"><a class="nav-link" href="/office/register"> <i class="oi oi-plus"></i> <span>Cadastrar
					</span>
				</a></li>
			<li class="nav-item"><a class="nav-link" href="/office/list"> <i class="oi oi-spreadsheet"></i> <span>Listar
					</span>
				</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Funcionários</span></li>
			<li class="nav-item"><a class="nav-link" href="/employee/register"> <i class="oi oi-plus"></i>
					<span>Cadastrar </span>
				</a></li>
			<li class="nav-item"><a class="nav-link" href="/employee/list"> <i class="oi oi-spreadsheet"></i>
					<span>Listar </span>
				</a></li>
		</ul>
	</nav>
</body>

</html>