<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content" layout:fragment="layout-body">

		<nav class="navbar navbar-expand-md navbar-top">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{department.span.departmentList}"></span>
					</li>
				</ul>
				<a class="btn btn-success btn-md" th:href="@{/department/register}" role="button">
					<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
					<span th:text="#{department.span.departmentNew}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="listagem">
			<div th:replace="fragments/alert"></div>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th th:text="#{th.hashtag}"></th>
							<th>
								<a class="" th:href="@{/department/list(page=${departmentPage.page}, dir=desc)}" tabindex="-1">
									<span class="oi oi-arrow-bottom"></span>
								</a>
								Department
								<a class="" th:href="@{/department/list(page=${departmentPage.page}, dir=asc)}" tabindex="-1">
									<span class="oi oi-arrow-top"></span>
								</a>
							</th>
							<th th:text="#{th.action}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="list : ${departmentPage.records}">
							<td th:text="${list.id}"></td>
							<td th:text="${list.name}"></td>
							<td colspan="2">
								<a class="btn btn-info btn-sm" th:href="@{/department/edit/{id} (id=${list.id})}" role="button">
									<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
								</a>
								<button th:id="${'btn_department/delete/' + list.id}" type="button" class="btn btn-danger btn-sm"
										data-toggle="modal" data-target="#myModal">
									<span class="oi oi-circle-x" title="Excluir"
										aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				  	<li class="page-item">
				      <a class="page-link" th:href="@{/department/list(page=${1}, dir=${departmentPage.direction})}" tabindex="-1" aria-disabled="true">First</a>
				    </li>
				    <li th:class="${departmentPage.page == 1} ? 'page-item disabled' : 'page-item'">
				      <a class="page-link" th:href="@{/department/list(page=${departmentPage.page - 1}, dir=${departmentPage.direction})}" tabindex="-1" aria-disabled="true">Prev</a>
				    </li>
				    <li class="page-item">
				    	<span class="page-link" th:text="|${departmentPage.page} de ${departmentPage.totalPages}|"></span>
				    </li>
				    <li th:class="${departmentPage.page == departmentPage.totalPages} ? 'page-item disabled' : 'page-item'">
				      <a class="page-link" th:href="@{/department/list(page=${departmentPage.page + 1}, dir=${departmentPage.direction})}">Next</a>
				    </li>
				    <li class="page-item">
				      <a class="page-link" th:href="@{/department/list(page=${departmentPage.totalPages}, dir=${departmentPage.direction})}" tabindex="-1" aria-disabled="true">Last</a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>

</html>